.DS_Store
node_modules/
target/
npm-debug.log
hot
mix-manifest.json
libs/
profiles/firefox/SeleniumUser/*
!profiles/firefox/SeleniumUser/cert8.db
!profiles/firefox/SeleniumUser/cert_override.txt
!profiles/firefox/SeleniumUser/prefs.js
.idea/*
